server:
  port: 84

spring:
  application:
    name: nacos-consumer-order

  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
    sentinel:
      transport:
        #配置Sentinel dashboard地址
        dashboard: localhost:8080
        #默认8719端口，假如被占用会自动从8719开始依次+1扫描,直至找到未被占用的端口
        port: 8719

server-url:
  nacos-order-addr: http://payment-provider-service

management:
  endpoints:
    web:
      exposure:
        include: "*"

